html,body{height:100%;}

#bs-example-navbar-collapse-1 ul{list-style:none; margin-top:10px;}
#bs-example-navbar-collapse-1 ul li{
	font-family: 'Montserrat';
	display:inline;
	font-size:1.2em;
	text-transform: uppercase;
	padding-left:10px;


}
#bs-example-navbar-collapse-1 ul li a{color:#FFF;}
#bs-example-navbar-collapse-1 ul li a:hover{color:#63b769; text-decoration: none;}
#bs-example-navbar-collapse-1 ul li.become-talugador a{
	text-decoration: none;
	color:#3b5360;
	background-color:#FFF;
	padding:5px 20px 5px 20px;
	border-radius:15px;
	margin-top:9px;
	margin-left:10px;
}

.#bs-example-navbar-collapse-1 ul li.become-talugador a:hover{
	text-decoration: none;
	color:#3b5360;
	background-color:#63b769;
	padding:5px 20px 5px 20px;
	border-radius:15px;
	margin-left:10px;
}
.fill{
    padding:0;
    color:#FFF;
    background:url(../img/bg_top.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
}
.topo{
	background-color: #3b5360;
	min-height:90px;
	border-bottom:6px solid #63b769;
	margin:0;
	padding:20px 0 20px 0;
	text-align: center;
}
.margin-zero{
	padding:0;
	margin:0;
}
.meio{
	padding:5% 0 20% 0;
	min-height:850px;

}
.meio label{
	text-transform: uppercase;
	font-family: 'Lato';
	font-size:1.1em;
}
.meio-chamada{
	font-size:4em;	
	font-weight: 700;
	font-family: 'Montserrat';
	line-height: 1.2em;
	margin-left:15px;
	margin-bottom:40px;
	word-wrap:   break-word;
}
.depoimento{
	padding:40px 0 80px 0 ;
}
.comoalugar{
	padding:40px 0 80px 0 ;
	background:url(../img/bg_meio.jpg) no-repeat center center;
    -webkit-background-size: cover;
	color:#FFF;
	font-size: 1.6em;
}
.porquealugar{
	padding:40px 0 80px 0 ;
}
.pesquise{

	background-color: #63b769;
	color:#FFF;
	font-size: 1.6em;
	padding:40px 0 80px 0 ;
}
.rodape1{
	background-color: #3b5360;
	padding:40px 0 80px 0 ;
	color:#FFF;
	font-weight: 400;
	font-size: 1.2em;
	
}
.rodape1 p{
	font-family: 'Lato';
}
.buscar_agora{padding:15px 40px 15px 40px; border:none; text-transform: uppercase; background-color: #FFF; color:#63b769;}
.buscar_agora:hover{text-decoration: none; color:#3B5360;}
.rodape2{
	background-color: #111e2d;
	font-family: 'Lato';
	padding:20px 0 10px 0 ;
	color:#FFF;
	font-weight: 200;
	font-size: 1.2em;
}
.spacer { margin:0; padding:0; height:50px; }
